<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 * @var \GetNoticed\FormBuilder\Block\Form       $viewModel
 */
$viewModel = $block->getData('view_model');
/** @var \GetNoticed\FormBuilder\Api\Data\FormInterface $form */
$form = $block->getData('form');
?>
<div id="<?php echo $form->getFormId() ?>" class="form-builder-wrapper">
    <form method="post" enctype="multipart/form-data"
          action="<?php echo $block->getUrl('getnoticed/form/save', ['form_code' => $form->getCode()]) ?>">
        <section class="builder-form-container">
            <input type="hidden" name="_referrer_url"
                   value="<?php echo $block->getUrl('*/*/*', $block->getRequest()->getParams()) ?>"/>
            <input type="hidden" name="_redirect_url"
                   value="<?php echo $form->getRedirectUrl() ?>"/>

            <div class="builder-fields-container">
                <?php foreach ($form->getFields() as $field) : ?>
                    <?php $fieldHtml = $viewModel->renderFieldHtml($form, $field);
                    if (empty($fieldHtml)) : continue; endif;
                    if ($viewModel->isFieldVisible($field)) :
                        $fieldId = $viewModel->getFieldId($form, $field);
                        $fieldLabel = $viewModel->getFieldLabel($field); ?>
                        <div class="field">
                            <?php if ($viewModel->showFieldLabelLabel($field)): ?>
                                <div class="label">
                                    <label for="<?php echo $fieldId ?>">
                                        <?php echo $fieldLabel ?>
                                        <?php if ($viewModel->showRequiredMark($field)): ?>
                                            <span class="required-mark">*</span>
                                        <?php endif; ?>
                                    </label>
                                </div>
                            <?php endif; ?>
                            <div class="field-html">
                                <?php echo $fieldHtml; ?>
                            </div>
                        </div>
                    <?php else : ?>
                        <?php echo $fieldHtml; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        </section>
        <div class="actions-toolbar">
            <div class="primary right">
                <button type="submit" class="action submit primary"
                        title="<?php echo $block->escapeHtmlAttr(__('Submit')) ?>">
                    <span><?php echo $block->escapeHtml(__('Submit')) ?></span>
                </button>
            </div>
        </div>
    </form>

    <?php if (count($form->getCustomValidations()) > 0): ?>
    <script type="text/x-magento-init">
        {
            "*": {
                <?php foreach ($form->getCustomValidations() as $key => $validator): ?>
                "<?= $validator->getValidationJsPath() ?>": {}<?php echo $key+1 == count($form->getCustomValidators()) ? ',' : '' ?>
                <?php endforeach; ?>
            }
        }
    </script>
    <?php endif; ?>
</div>
