<!--@subject {{trans "A new form entry has been submitted"}} @-->
<!--@vars {
"var form":"The submitted form",
"var post":"The post data"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                {{trans "A new form entry has been submitted."}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{layout handle="getnoticed_formbuilder_notification_form" form=$form post=$post area="frontend"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}