<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 * @var \GetNoticed\FormBuilder\Block\Email\Form $viewModel
 */
$viewModel = $block->getData('view_model')->setBlock($block);
$form = $viewModel->getForm();
?>
<table>
    <?php foreach ($viewModel->getEmailValues() as $value) : ?>
        <?php if (array_key_exists('label', $value) && is_array($value['value'])) : ?>
            <tr>
                <th scope="row" colspan="2" ><?= $value['label'] ?></th>
            </tr>
            <?php $i = 1; ?>
            <?php foreach ($value['value'] as $val) : ?>
                <tr>
                    <th scope="row" align="left" style="text-align: left;"><?php echo $val['label']; ?></th>
                    <?php if (is_array($val['value'])) : ?>
                        <td>
                            <ul>
                            <?php foreach ($val['value'] as $subVal) : ?>
                                <li><?php echo !is_array($subVal) ? $subVal : ''; ?></li>
                            <?php endforeach; ?>
                            </ul>
                        </td>
                    <?php else : ?>
                        <td><?php echo $val['value']; ?></td>
                    <?php endif;?>
                </tr>
                <?php if ($i === count($value['value'])) : ?>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                <?php endif; ?>
                <?php $i++; ?>
            <?php endforeach; ?>
        <?php elseif (array_key_exists('value', $value) && is_array($value['value'])) : ?>
            <?php foreach ($value['value'] as $fieldSet) : ?>
                <?php if (is_array($fieldSet['value'])) : ?>
                    <?php foreach ($fieldSet['value'] as $value) : ?>
                        <tr>
                            <th scope="row" align="left" style="text-align: left;"><?php echo __($fieldSet['label']) ?></th>
                            <td><?php echo $value['value'] ?></td>
                        </tr>
                    <?php endforeach; ?>
                <?php else : ?>
                    <tr>
                        <th scope="row" align="left" style="text-align: left;"><?php echo __($value['label']) ?></th>
                        <td><?php echo $fieldSet['value'] ?></td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php else : ?>
            <tr>
                <th scope="row" align="left" style="text-align: left;"><?php echo __($value['label']) ?></th>
                <td><?php echo $value['value'] ?></td>
            </tr>
        <?php endif; ?>
    <?php endforeach; ?>
</table>
