<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                          $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\TextType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                 $viewModel
 * @var \GetNoticed\FormBuilder\Fields\TextType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();

$nameField = $frontend->getParam('name_field', $viewModel->getFieldName($form, $field));
$namePickerField = $frontend->getParam('name_picker_field', $viewModel->getFieldName($form, $field, 'picker'));
$idField = $frontend->getParam('id_field', $viewModel->getFieldId($form, $field));
$idPickerField = $frontend->getParam('id_picker_field', $viewModel->getFieldId($form, $field, 'picker'));
$value = $frontend->getParam('value', $form->getFieldValue($field));
?>
<div class="date-selector" data-mage-init='{"GetNoticed_FormBuilder/js/custom_datepicker" : { "date_field_id":"<?php echo $idPickerField; ?>", "input_date_id":"<?php echo $idField; ?>"} }'>
    <div class="date-picker">
        <?php if ($field->isDisabled() || $field->isReadOnly()) : ?>
            <input type="hidden" name="<?php echo $nameField ?>" value="<?php echo $value ?>"/>
            <span class="selected-date"><i class="fa fa-calendar" aria-hidden="true"></i> <?php echo $value ?></span>
        <?php else : ?>
            <input type="text" name="<?php echo $nameField ?>" id="<?php echo $idField ?>"
                   value="<?php echo $value ?>"
                   placeholder="<?php echo __('Select a date...') ?>" style="display: none;"/>
            <input type="text" name="<?php echo $namePickerField ?>" id="<?php echo $idPickerField ?>"
                   value="<?php echo $value ?>"
                   placeholder="<?php echo __('Select a date...') ?>" class="" />
            <i class="fa fa-calendar" aria-hidden="true"></i>
        <?php endif; ?>
    </div>
</div>
