<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                          $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\FileType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                 $viewModel
 * @var \GetNoticed\FormBuilder\Fields\TextType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();

$nameField = $frontend->getParam('name_field', $viewModel->getFieldName($form, $field));
$idField = $frontend->getParam('id_field', $viewModel->getFieldId($form, $field));
?>

<div id="<?= $idField ?>" class="upload-wrapper" data-bind="scope: '<?= $idField ?>-uploader'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
{
   "#<?= $idField ?>": {
       "Magento_Ui/js/core/app": {
           "components": {
               "<?= $idField ?>-uploader": {
                   "component": "Magento_Ui/js/form/element/file-uploader",
                   "template": "GetNoticed_FormBuilder/form/element/uploader/uploader",
                   "inputName": "<?= $nameField ?>",
                   "dataScope": "<?= $nameField ?>",
                   "allowedExtensions": <?= json_encode($field->getAllowedFileTypeExtensions()) ?>,
                   "uploaderConfig": {
                        "url": "<?= $field->getUploadUrl($form); ?>",
                   		"paramName": "<?= $field->getName() ?>",
                   		"formData": {
                            "form": "<?= $form->getCode() ?>",
                            "field": "<?= $field->getCode() ?>"
                        }
                   }
               }
           }
       }
   }
}
</script>
