<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                 $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                           $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\GroupType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                  $viewModel
 * @var \GetNoticed\FormBuilder\Fields\GroupType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();
$cols = count($field->getFields());
?>
<div class="fields-group fields-group-col-<?php echo $cols; ?>">
    <?php $i = 0; ?>
    <?php foreach ($field->getFields() as $field) :
        $i++;
        $fieldId = $viewModel->getFieldId($form, $field);
        $fieldLabel = $viewModel->getFieldLabel($field); ?>
        <?php if($i === 1): ?>
          <div class="fields-row">
        <?php endif; ?>
        <div class="field">
            <?php if (!empty($fieldLabel)) : ?>
                <div class="label">
                    <label for="<?php echo $fieldId ?>">
                        <?php echo $fieldLabel ?>
                        <?php if ($field->showRequiredMark()): ?>
                            <span class="required-mark">*</span>
                        <?php endif; ?>
                    </label>
                </div>
            <?php endif; ?>
            <div class="field-html">
                <?php echo $frontend->renderFieldHtml($field); ?>
            </div>
        </div>
        <?php if($i === $cols): ?>
          <?php $i = 0; ?>
          </div>
        <?php endif; ?>
    <?php endforeach; ?>
</div>