<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                  $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                            $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\RadioType  $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                   $viewModel
 * @var \GetNoticed\FormBuilder\Fields\RadioType\FrontendModel                                    $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();

$nameField = $frontend->getParam('name_field', $viewModel->getFieldName($form, $field));
$idField = $frontend->getParam('id_field', $viewModel->getFieldId($form, $field));
$value = $frontend->getParam('value', $form->getFieldValue($field));

?>
<?php if ($field->hasOptions()): ?>
    <?php foreach ($field->getOptions() as $option) : ?>
        <?php $isSelected = $option['value'] === $value; ?>
        <label for="<?= strtolower($option['label']) ?>"><?= $option['label'] ?></label>
        <input
            type="radio"
            name="<?= $nameField ?>"
            id="<?= strtolower($option['label']) ?>"
            <?php if (count($field->getJsValidation()) > 0): ?>
                data-validate="<?= htmlspecialchars($field->getJsValidationConfig(), ENT_QUOTES, 'UTF-8') ?>"
            <?php endif; ?>
            <?php if ($field->isDisabled()) : ?> disabled="disabled"<?php endif; ?>
            <?php if ($field->isReadOnly()) : ?> readonly="readonly"<?php endif; ?>
            value="<?= $option['value'] ?>"
            <?php if ($isSelected) : ?> checked="checked"<?php endif; ?>
        </input>
    <?php endforeach; ?>
<?php endif;
