<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                    $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                              $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\RepeaterType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                     $viewModel
 * @var \GetNoticed\FormBuilder\Fields\RepeaterType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();
$value = $form->getFieldValue($field) ?: [];
$cols = count($field->getFields());

/**
 * Disabled for now
 * $value[] = $frontend->getEmptyValue($field);
 */
?>
<div class="fields-group fields-repeater fields-group-col-<?php echo $cols; ?>">
    <?php foreach ($value as $iteration => $row) :
        $field->setActiveIteration($iteration); ?>
        <?php $i = 0; ?>
        <?php foreach ($field->getFields() as $loopField) :
            $i++;
            $fieldId = $viewModel->getFieldId($form, $loopField);
            $fieldLabel = $viewModel->getFieldLabel($loopField);
            $fieldParams = [
                'value'      => $form->getFieldValue($loopField, $field, $iteration),
                'name_field' => sprintf(
                    '%s[%s][%d][%s]',
                    $form->getNameContainer(),
                    $field->getName(),
                    $iteration,
                    $loopField->getName()
                ),
                'id_field'   => sprintf(
                    '%s_%s_%s_%d',
                    $form->getFormId(),
                    $field->getName(),
                    $loopField->getName(),
                    $iteration
                )
            ];
            ?>
            <?php if($i === 1): ?>
              <div class="fields-row">
            <?php endif; ?>
            <div class="field">
                <?php if (!empty($fieldLabel)) : ?>
                    <div class="label">
                        <label for="<?php echo $fieldParams['id_field'] ?>">
                            <?php echo $fieldLabel ?>
                            <?php if ($field->showRequiredMark()): ?>
                                <span class="required-mark">*</span>
                            <?php endif; ?>
                        </label>
                    </div>
                <?php endif; ?>
                <?php echo $frontend->renderFieldHtml($loopField, $fieldParams); ?>
            </div>
            <?php if($i === $cols): ?>
              <?php $i = 0; ?>
              </div>
          <?php endif; ?>
        <?php endforeach; ?>
    <?php endforeach; ?>
    <?php $field->setActiveIteration(null) ?>
</div>