<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                  $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                            $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\SelectType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                   $viewModel
 * @var \GetNoticed\FormBuilder\Fields\SelectType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();

$nameField = $frontend->getParam('name_field', $viewModel->getFieldName($form, $field));
$idField = $frontend->getParam('id_field', $viewModel->getFieldId($form, $field));
$value = $frontend->getParam('value', $form->getFieldValue($field));
if ($field->isMultiSelect() && is_array($value) === false) {
    $value = [];
}

$parentField = $field->getParentField();
$activeIteration = $parentField instanceof GetNoticed\FormBuilder\Fields\RepeaterType
    ? $parentField->getActiveIteration() : null;
$field->setOptionsEntities($form, $field, $field->getParentField(), $activeIteration);
?>
<?php if ($field->isReadOnly() || $field->isDisabled()): ?>
    <?php if ($field->isMultiSelect()): ?>
        <ul>
            <?php foreach ($value as $rowValue): ?>
                <input type="hidden" name="<?php echo $nameField ?>[]" value="<?php echo $rowValue ?>"/>
                <li><?php echo $field->getOptionLabel($rowValue) ?></li>
            <?php endforeach; ?>
        </ul>
    <?php else: ?>
        <input type="hidden" name="<?php echo $nameField ?>" value="<?php echo $value ?>"/>
        <span><?php echo $field->getOptionLabel($value) ?></span>
    <?php endif; ?>
<?php else: ?>
    <select name="<?php echo $nameField ?><?php if ($field->isMultiSelect()) : ?>[]<?php endif; ?>"
        <?php if ($field->isMultiSelect()) : ?>
            multiple="multiple"
            data-mage-init='{"GetNoticed_FormBuilder/js/select": {"placeholder": "<?php echo __('Select a value...') ?>", "closeOnSelect": false}}'
        <?php else : ?>
            data-mage-init='{"GetNoticed_FormBuilder/js/select": {}}'
        <?php endif; ?>
            id="<?php echo $idField ?>"
            style="display: none;"
        <?php if ($field->isDisabled()) : ?> disabled="disabled"<?php endif; ?>
        <?php if ($field->isReadOnly()) : ?> readonly="readonly"<?php endif; ?>>
        <?php if ($frontend->isRequired($field) !== true) : ?>
            <option value=""><?php echo __('Select a value...') ?></option>
        <?php endif; ?>
        <?php if ($field->hasOptions()) : ?>
            <?php foreach ($field->getOptions() as $option) :
                $isGroup = array_key_exists('group', $option) && $option['group'] === true;
                $isSelected = $field->isMultiSelect()
                    ? in_array($option['value'], $value)
                    : ($option['value'] === $value || $option['value'] === (int)$value); ?>
                <?php if ($isGroup) : ?>
                    <optgroup label="<?php echo $option['label'] ?> <?php if ($field->isAppendValueToLabel()): ?> (<?php echo $option['value'] ?>)<?php endif; ?>"></optgroup>
                <?php else: ?>
                    <option value="<?php echo $option['value'] ?>"
                        <?php if ($isSelected) : ?> selected="selected"<?php endif; ?>>
                        <?php echo $option['label'] ?>
                        <?php if ($field->isAppendValueToLabel()): ?> (<?php echo $option['value'] ?>)<?php endif; ?>
                    </option>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </select>
<?php endif;