<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                          $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\TextType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                 $viewModel
 * @var \GetNoticed\FormBuilder\Fields\TextType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();

$nameField = $frontend->getParam('name_field', $viewModel->getFieldName($form, $field));
$idField = $frontend->getParam('id_field', $viewModel->getFieldId($form, $field));
$value = $frontend->getParam('value', $form->getFieldValue($field));
?>
<input type="<?= $frontend->getInputType() ?>" value="<?= $value ?>" name="<?= $nameField ?>" id="<?= $idField ?>"
    <?php if (count($field->getJsValidation()) > 0): ?>
        data-validate="<?= htmlspecialchars($field->getJsValidationConfig(), ENT_QUOTES, 'UTF-8') ?>"
    <?php endif; ?>
    <?php if ($field->isDisabled()) : ?>
        disabled="disabled"
    <?php endif; ?>
    <?php if ($field->isReadOnly()) : ?>
        readonly="readonly"
    <?php endif; ?>
/>

<?php if ($field->hasConditions()): ?>
<?php $conditionalFieldName = $frontend->getParam(
    'name_field',
    $viewModel->getFieldName(
            $form,
            $field->getConditionField()
    )
); ?>
<script type="text/x-magento-init">
{
    "#<?= $idField ?>": {
        "GetNoticed_FormBuilder/js/conditional-field": {
            "conditionalField": {
                "name": "<?= $conditionalFieldName ?>"
            },
            "conditionValues": <?= json_encode($field->getConditionValues()) ?>,
            "initialAction": "<?= $field->getInitialAction() ?>"
        }
    }
}
</script>
<?php endif; ?>
