<?php
/**
 * @var \Magento\Framework\View\Element\Template                                                $block
 * @var \GetNoticed\FormBuilder\Api\Data\FormInterface                                          $form
 * @var \GetNoticed\FormBuilder\Api\Data\FieldInterface|\GetNoticed\FormBuilder\Fields\TextType $field
 * @var \GetNoticed\FormBuilder\Block\FormField                                                 $viewModel
 * @var \GetNoticed\FormBuilder\Fields\TextType\FrontendModel                                   $frontend
 */
$viewModel = $block->getData('view_model');
$form = $block->getData('form');
$field = $block->getData('field');
$frontend = $field->getFrontendModel();

$nameField = [
    'from'  => $frontend->getParam('name_field', $viewModel->getFieldName($form, $field, '_from')),
    'until' => $frontend->getParam('name_field', $viewModel->getFieldName($form, $field, '_until'))
];
$idField = [
    'from'  => $frontend->getParam('id_field', $viewModel->getFieldId($form, $field, '_from')),
    'until' => $frontend->getParam('id_field', $viewModel->getFieldId($form, $field, '_until')),
];
$idReset = $viewModel->getFieldId($form, $field, '_reset');
$value = $frontend->getParam('value', $form->getFieldValue($field));
?>
<div class="time-selector"
     data-mage-init='{"GetNoticed_FormBuilder/js/custom_timepicker" : {"time_id":"<?php echo $idField['from'] ?>"} }'>
    <div class="time-picker">
        <input type="text" class="timepicker" value="<?php echo $value ?>"
               name="<?php echo $nameField['from'] ?>" id="<?php echo $idField['from'] ?>"
               readonly="" placeholder="<?php echo __('Pick a time...') ?>"/>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
    </div>
    <div id="<?php echo $idField['until'] ?>_container" class="time-picker" style="">
        <input type="text" data-validate="{ 'validate-chain': true }" class="timepicker" value="<?php echo $value ?>"
               name="<?php echo $nameField['until'] ?>" id="<?php echo $idField['until'] ?>"
               readonly="" placeholder="<?php echo __('Pick a time...') ?>">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <i id="<?php echo $idReset ?>" class="fa fa-times" aria-hidden="true" style="display: inline;"></i>
    </div>
</div>