.builder-fields-container {
  .field {
    margin-bottom: 16px;
    .label {
      margin-bottom: 8px;
    }
  }
  .fields-group {
    display: -ms-flexbox; // IE10
    display: -webkit-flex; // Safari / iOS
    // col-2
    .devider-flex-cols(2);
    // col-3
    .devider-flex-cols(3);
    // col-4
    .devider-flex-cols(4);
    // col-5
    .devider-flex-cols(5);
    // col-6
    .devider-flex-cols(6);
  }
}


/* Mixin */
.devider-flex-cols(@number) {
  &[class$="col-@{number}"] {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;

    .field {
      width: (100%/@number)-1;
      margin-right: 1%;
      &:nth-child(@{number}n){
        width: 100%/@number;
        margin-right: 0;
      }
      @media screen and (max-width: 991px) {
        &,
        &:nth-child(@{number}n){
          width: (100%/2)-1;
          margin-right: 1%;
        }
        &:nth-child(2n) {
          width: 100%/2;
          margin-right: 0;
        }
      };
      @media screen and (max-width: 767px) {
        &,
        &:nth-child(@{number}n),
        &:nth-child(2n){
          width: 100%;
          margin-right: 0;
        }
      };
    }
  }
}